* {
  box-sizing: border-box;
  padding: 0;
}

html {
  background: #0025FF;
  color: #fff;
  padding: 40px 0;
}

header {
  padding: 20px;
  text-align: center;
}

.logo {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;

}

.logo img {
  width: 140px;
  margin-top: 55px;
}

.yearbook {
  width: 80%;
  margin: auto;
}

.yearbook-photo {
  display: table;
  float: left;
}

.yearbook-photo-inner {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .4);
  color: #292929;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.7em;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.yearbook-photo-inner p {
  line-height: 0.3;
}

.yearbook-photo-img {
   border: 1px solid rgba(0, 0, 0, .1);
   position: relative;
   width: 100%;
   overflow: hidden;
}

.yearbook-photo-img img {
   display: block;
   position: relative;
   width: 100%;
   top: 50%;
   transform: translate(0%, -10%);
}

.yearbook-photo:nth-child(even) {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.yearbook-photo:nth-child(even):hover {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

.yearbook-photo:nth-child(odd) {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.yearbook-photo:nth-child(odd):hover {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.yearbook-photo-inner p {
  color: #000;
}

/* Media queries. Not very clean as I had to add several breakpoints to get the max-height of yearbook-photo-img working okay. I tried! */
@media only screen and (max-width: 600px) {
  .yearbook-photo {
    width: 100%;
  }
  .yearbook-photo-img {
     max-height: 220px;
  }
}

@media only screen and (min-width: 600px) {
  .yearbook {
    width: 100%;
  }
  .yearbook-photo {
    width: 50%;
  }
  .yearbook-photo-img {
     max-height: 250px;
  }
}

@media only screen and (min-width: 750px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 50%;
  }
  .yearbook-photo-img {
     max-height: 255px;
  }
}

@media only screen and (min-width: 970px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 50%;
  }
  .yearbook-photo-img {
     max-height: 330px;
  }
}

@media only screen and (min-width: 1200px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 220px;
  }
}

@media only screen and (min-width: 1300px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 310px;
  }
}

@media only screen and (min-width: 1620px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 350px;
  }
}

@media only screen  and (min-width : 1824px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 400px;
  }
}

@media only screen  and (min-width : 2000px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 450px;
  }
}
