* {
  box-sizing: border-box;
  padding: 0;
}

html {
  background: #0025FF;
  color: #fff;
  padding-bottom: 40px;
}

header {
  padding: 20px;
  text-align: center;
}

.logo {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: #fff;

}

.logo img {
  width: 140px;
  margin-top: 55px;
}

.yearbook {
  width: 80%;
  margin: auto;
}

.yearbook-photo {
  float: left;
  clear: right;
}

.yearbook-photo-inner {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 5px rgba(0, 0, 0, .4);
  color: #292929;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.7em;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.yearbook-photo-inner p {
  line-height: 0.3;
}

/* A container for the image which allows for uniform sizing */

.yearbook-photo-img {
   border: 1px solid rgba(0, 0, 0, .1);
   position: relative;
   width: 100%;
   max-height: 400px;
   overflow: hidden;
}

/* Positions the image within the yearbook-photo-image container */

.yearbook-photo-img img {
   position: relative;
   max-width: 100%;
   width: 100%;
   height: auto;
   top: 50%;
   transform: translate(0%, -10%);
}

/* Animates the even children of yearbook-photo on hover */

.yearbook-photo:nth-child(even) {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.yearbook-photo:nth-child(even):hover {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
}

/* Animates the odd children of yearbook-photo on hover */

.yearbook-photo:nth-child(odd) {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.yearbook-photo:nth-child(odd):hover {
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

.yearbook-photo-inner p {
  color: #000;
}

/* Media queries. Not very clean as I had to add several breakpoint to get the max-height of yearbook-photo-img working right */
@media only screen and (max-width: 600px) {
  .yearbook-photo {
    width: 100%;
  }
  .yearbook-photo-img {
     max-height: 300px;
  }
}

@media only screen and (min-width: 600px) {
  .yearbook {
    width: 100%;
  }
  .yearbook-photo {
    width: 50%;
  }
  .yearbook-photo-img {
     max-height: 300px;
  }
}

@media only screen and (min-width: 768px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 50%;
  }
  .yearbook-photo-img {
     max-height: 250px;
  }
}

@media only screen and (min-width: 992px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 50%;
  }
  .yearbook-photo-img {
     max-height: 320px;
  }
}

@media only screen and (min-width: 1200px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 270px;
  }
}

@media only screen and (min-width: 1450px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 320px;
  }
}

@media only screen and (min-width: 1620px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 350px;
  }
}

@media only screen  and (min-width : 1824px) {
  .yearbook {
    width: 80%;
  }
  .yearbook-photo {
    width: 33%;
  }
  .yearbook-photo-img {
     max-height: 400px;
  }
}
